.tablep {
  position: relative;
  z-index: 1000;
  width: 48.5vw;
  margin-left: 5px;
  margin-right: 5px;
}
/* .tablep2 {
  position: relative;
  z-index: 2000;
  width: 40vw;
} */

.tablepBill {
  position: relative;
  z-index: 1000;
  width: 98vw;
  margin-left: 5px;
  margin-right: 5px;
}

/* .tablepBillMain {
  position: relative;
  z-index: 1000;
  margin-left: 5px;
  margin-right: 5px;
} */

.submitButton {
  width: 98vw;
  height: 37.5px;
  border-color: #7A56D1;
  background-color: white;
  color: #7A56D1;
  font-size: larger;
  border-width: 3px;
  border-radius: 3%;
  margin: 5px;
}

.filterContainer {
  display: flex;
  flex-direction: row;
}

.controlContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.stateDropdown {
  width: 98vw;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
}
