* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.landing,
.main,
.explore,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.landing {
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.main {
  background-color: white;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.explore {
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.sign-up {
  background-image: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.main-left-half {
  display: flex;
  flex-direction: column;
  width: 49vw;
  padding: 0.5vw;
}

.main-right-half {
  display: flex;
  flex-direction: column;
  width: 49vw;
  padding: 0.5vw;
}
.main-both-halves {
  display: flex;
  flex-direction: row;
  width: 99vw;
}
